<!doctype html>
<html style="width:100%; height:100%;">
<!-- <html> -->

<head>
    <meta charset="utf-8">
    <title>ACR 租屋平台更新中</title>
    <link rel="stylesheet" href="/stylesheets/deploying.css">
    <script src="/scripts/deploying.js"></script>
    
</head>

<body style="width:100%; height:100%;">
    <style>
        .content {
            font-size: 40px;
        }

        .timeContent {
            font-size: 40px;
        }
    </style>
    <div id = content >
        <br><br><br><br><br><br><br><br>
        <img src="/resource/colorful-loading.gif"/>
        <br><br><br><br>
        <div class="content">
            ACR 租屋平台更新中

        </div>
        <div class="timeContent">
            預計更新時間
            <div>
            M/D hh:mm ~ M/D hh:mm
            </div>
        </div>
    </div>
    </div>
</body>

</html>